
<%= image_tag @bookwork.main_image %>

<h1><%= @bookwork.title %></h1>

<em><%= @bookwork.subtitle %></em>

<p><%= @bookwork.body %></p>

<h2> Technologies Used:</h2>

<% @bookwork.technologies.each do |technology| %>
  <p><%= technology.name %></p>
<% end %>

<%= link_to 'Edit', edit_book_work_path(@bookwork) %> |
<%= link_to 'Back', book_works_path %>
