<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bookwork.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @bookwork.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bookwork.body %>
</p>

<%= link_to 'Edit', edit_book_work_path(@bookwork) %> |
<%= link_to 'Back', book_works_path %>
